.carousel-container {
  display: flex;
  justify-content: center; 
  padding: 16px; 
}

.film-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, auto); 
  gap: 16px;
  max-width: 1200px; 
  width: 100%; 
}

.movies-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  max-width: 50%;
  @media (max-width: 600px) {
    max-width: 100%;
  }
}